<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add to the Pokedex</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>

        <body>
            <nav class ="nav-new">
                <button class="button-new"><a href="/pokemon">Head Back to All Pokemon</a></button> 
            </nav>
            <h1>Give Me More Pokemon</h1>
            <form class="form-new" action="/pokemon" method="POST">
                Name: <input type="text" name="name" /><br />
                Upload Image URL:<input type ="text" name="img"><br/>
                Types: <input type="text" name="type" /><br />
                Defense: <input type="text" name="defense" /><br />
                Attack: <input type="text" name="attack" /><br />
                Health Points: <input type="text" name="health" /><br />
                Speed Points:  <input type="text" name="Speed" /><br />
                <input type="submit" name="create" value="Add My New Pokemon!" />
            </form>
    
        </body>
</html>
