<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add to the Pokedex</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>

        <body>
            <nav class ="nav-new">
                <button class="button-new"><a href="/pokemon">Head Back to All Pokemon</a></button> 
            </nav>
            <h1 class="new-h1">Give Me More Pokemon</h1>
            <div class="div-new">
            <form class="form-new" action="/pokemon" method="POST">
                <div class="div-new">
                <h4>Name:</h4></br>
                <input type="text" name="name" /><br />
                </div class="div-new">
                <div class="div-new">
                <h4>Upload Image URL:</h4></br>
                <input type ="text" name="img"><br/>
                </div>
                <div class="div-new">
                <h4>Types:</h4></br>
                <input type="text" name="type" /><br />
                </div>
                <div class="div-new">
                <h4>Defense:</h4></br>
                <input type="number" name="defense" /><br />
                </div>
                <div class="div-new">
                <h4>Attack:</h4></br>
                <input type="number" name="attack" /><br />
                </div>
                <div class="div-new">
                <h4>Health Points:</h4></br> 
                <input type="number" name="hp" /><br />
                </div>
                <div class="div-new">
                <h4>Speed Points:</h4></br>  
                <input type="number" name="speed" /><br />
                </div>
                <input type="submit" name="create" value="Add My New Pokemon!" />
            </form>
        </div>
    
        </body>
</html>
